@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    overflow-x: hidden;
}

#tentacles {
    width: 50px;
}
.header{
    background-image: url('seafloor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proposal{
    text-align: center;
}
#fund-project{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#submit{
    margin: 20px auto;
    padding: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.stats-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0, 0, 30px lightblue;
}
.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
}

.stats-card {
    height:100px;
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}


#numGames:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-img {
    width: 100%;         
    max-width: 50px;         
    max-height: 50px;      
    box-shadow: 0 0 10px #FFFFFF;
    object-fit: contain;  
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: calc(33.33% - 2%); 
    text-align: center;
    border-radius: 7px;
    box-sizing: border-box; 
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}